@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form style="width:50%; margin:2% auto">
    <div class="row mb-5">
        <div class="col-sm-2">
            <img src="~/background.jpg" width="100px" height="100px" style="border-radius:50%" />
        </div>
        <div class="col-10">
            <p> <span style="color:blue;margin-right:5px">sara </span> <span style="color:gray"> December 25, 2020</span></p>
            <button type="submit" class="btn btn-secondary">Update</button>
            <button type="submit" class="btn btn-danger">Delete</button>
            <div>
                <h1>WPF</h1>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Content*</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                </div>
            </div>
        </div>

    </div>
</form>